*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    min-height: 100vh;
    background-image: url(pexels-johannes-plenio-1103970.jpg);
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}


header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #FFF;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    padding: 20px 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo{
    font-weight: bolder;
    font-size: 30px;
    color: #333;
}


header nav ul{
    

}
header nav ul li{
    position: relative;
    float: left;


}
header nav ul li a{
    font-size: 20px;
    padding: 20px;
    color: #333;
    display: block;

}

header nav ul li a:hover{
    background-color: #333;
    color: #FFF;
}

header nav ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: #FFF;
    display: none;
}

header nav ul li ul li{
    width: 100%;
    border-top: 1px solid rgba(0,0,0,.1);
}


header nav ul li ul li ul{
    left: 200px;
    top: 0;
}

header nav ul li:hover > ul{
    display: inline;
}

#check{
    display: none;
}

header label{
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;
}

@media(max-width:991px){
    header{
        padding: 20px;
    }
    header label{
        display: inline;
    }
    header nav {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #FFF;
        border: 1px solid rgba(0,0,0,.1);
        display: none;
        transition: all ease .5s;
    }
    header nav ul li{
        width: 100%;

    }
    header nav ul li ul {
        position: relative;
        width: 100%;

    }
    header nav ul li ul li ul{
        position: relative;
        width: 100%;
        left: 0;
    

    }
    #check:checked ~ nav{
        display: block;
        
    }
}


















